
<%= panel_for title: 'Editing potential client', size: 6 do %>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer text-right">
    <%= back_to potential_clients_path %>
  </div>
<% end %>
