

<%= panel_for title: 'Reports', size: 12 do %>
<div class="panel-body">
  Bonjour
</div>
<div class="panel-footer text-right">
  <%= back_to paths_path %>
</div>
<% end %>


<%= content_for :scripts do %>
  <script type="text/javascript">

  </script>
<% end %>
