<a class="list-group-item">

  <h4 class="list-group-item-heading"><%= client.name %></h4>
  <p class="list-group-item-text"><%= client.description %></p>
  <% if client.address %>
    <p class="list-group-item-text">
      <%= render partial: "partials/address", locals: { address: client.address } %>
    </p>
  <% end %>  
</a>
