<%= panel_for size: 8 do %>
  <div class="panel-body">

    <h1>À propos</h1>
    <p>
    Ce projet a été réalisé dans le cadre du cours d'assurance qualité logiciel
    lors de la session d'automne 2014 à l'École de technologie supérieure.

    Membres de l'équipes :
    Maxime Bédard
    Marc LeBlanc
    Kevin Leblanc
    Jordan Malouin
    </p>

  </div>
<% end %>
