<div class="modal-header modal-header-sign-in">
  <button type="button" class="close" ng-click="close()">
    <i class="fa fa-times"></i>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">My clients</h3>
  <p>This is where you manage all your clients...</p>
</div>
<div class="modal-body">

  <div class="container">
    <div class="row">
    <d

      <div ng-repead="client in clients" class="client col-md-6">

        <address>
          <strong>{{ client.name }}</strong><br>
          {{ client.address.number }} {{ client.address.street }} <br>
          {{ client.address.city }}, {{ client.address.country }} {{ client.address.postal_code }}
        </address>

      </div>

    </div>
  </div>



</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="create()">
    <i class="fa fa-plus"></i> Create new
  </button>
  <button class="btn btn-danger" ng-click="close()">
    <i class="fa fa-times"></i> Close
  </button>
</div>
