
<form name="pathForm" class="form" role="form">

  <div class="path_toolbar">

      <button type="button" class="btn btn-default" data-toggle="tooltip"
        data-placement="bottom" title="Click to show the current path details"
        ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>

      <div class="btn-group">

        <label class="btn btn-primary" ng-model="markerType" btn-radio="'client'">
          <i class="fa fa-user"></i> <span ng-show="markerType === 'client'">Client</span>
        </label>
        <label class="btn btn-primary" ng-model="markerType" btn-radio="'potential_client'">
          <i class="fa fa-users"></i> <span ng-show="markerType === 'potential_client'">Potential client</span>
        </label>
        <label class="btn btn-primary" ng-model="markerType" btn-radio="'waypoint'">
          <i class="fa fa-map-marker"></i> <span ng-show="markerType === 'waypoint'">Waypoint</span>
        </label>

      </div>

      <button type="button" class="btn btn-info" data-toggle="tooltip"
        data-placement="bottom" title="Generate the path.">
        <i class="fa fa-flag"></i>
      </button>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success" data-toggle="tooltip"
          data-placement="bottom" title="Click to create a new path."
          ng-click="create()">
          <i class="fa fa-file"></i>
        </button>
        <button type="button" class="btn btn-success" data-toggle="tooltip"
          data-placement="bottom" title="Click to load an existing path."
          ng-click="load()">
          <i class="fa fa-folder-open"></i>
        </button>
        <button type="button" class="btn btn-success" data-toggle="tooltip"
          data-placement="bottom" title="Click click to save the current path."
          ng-click="save()">
          <i class="fa fa-save"></i>
        </button>
      </div>
  </div>

  <div class="path_details_wrapper" collapse="isCollapsed">
    <div class="scrollpane" perfect-scrollbar>
      <div>

        <div class="path_details" ng-include="'pathdetails.html'"></div>

      </div>
    </div>
  </div>

</form>

<!-- this is the confusing part. we have to point the map marker directive
  at an existing google.maps.Marker object, so it can hook up events -->
<div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
  ui-event="{'map-click': 'openMarkerInfo(marker)'}">
</div>

<div ui-map-info-window="myInfoWindow" ui-options="infoWindowOptions">

  <div ng-include="'waypoint.html'"></div>

</div>

<!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
google maps -->
<div id="map_canvas" ui-map="myMap" class="map"
  ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
  ui-options="mapOptions">
</div>



<div class="alert-box">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
