<h4>Path details <span class="badge" ng-show="!path.id">NEW</span><span class="badge" ng-show="path.id && pathForm.$dirty">EDITED</span></h4>

<div class="form-group">
  <label for="pathName">Path name</label>
  <input type="text" id="pathName" ng-model="path.name" class="form-control" placeholder="Path name..." />
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">

      <ui-select ng-model="path.branch_id">
        <ui-select-match placeholder="Select the starting branch...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="branch.id as branch in branches | filter: $select.search">
          <span ng-bind-html="branch.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <ui-select ng-model="path.path_type">
        <ui-select-match placeholder="Select the path type...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="pathType.value as pathType in pathTypes | filter: $select.search">
          <span ng-bind-html="pathType.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">

    <label for="date">Path projected date</label>
    <div class="input-group">
      <input type="text" id="date" class="form-control" datepicker-popup="{{format}}"
        ng-model="path.date" is-open="date.dateOpened" min-date="minDate"
        max-date="'2015-06-22'" datepicker-options="dateOptions"
        ng-required="true" close-text="Close">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>

  </div>
  <div class="col-sm-6">
    <label>Mode</label>
    <div class="form-group">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="path.mode" btn-radio="'car'">
          <i class="fa fa-car"></i>
        </label>
        <label class="btn btn-primary" ng-model="path.mode" btn-radio="'bus'">
          <i class="fa fa-bus"></i>
        </label>
        <label class="btn btn-primary" ng-model="path.mode" btn-radio="'bicycle'">
          <i class="fa fa-bicycle"></i>
        </label>
        <label class="btn btn-primary" ng-model="path.mode" btn-radio="'male'">
          <i class="fa fa-male"></i>
        </label>
      </div>
    </div>
  </div>
</div>




<div>Waypoints : {{ path.waypoints.length }}</div>
<div>Client : {{ path.clients.length }}</div>

<h4>Clients</h4>

<div class="list-group">
  <a class="list-group-item" ng-repeat="client in path.clients" ng-click="panTo(client)">
    <h4 class="list-group-item-heading">{{client.name}}</h4>
    <p class="list-group-item-text">{{client.description}}</p>
  </a>
</div>

<h4>Waypoints</h4>

<div class="list-group">
  <a class="list-group-item" ng-repeat="waypoint in path.waypoints" ng-click="panTo(waypoint)">
    <h4 class="list-group-item-heading">{{waypoint.name}}</h4>
    <p class="list-group-item-text">{{waypoint.description}}</p>
  </a>
</div>
