<div class="modal-header modal-header-sign-in">
  <button type="button" class="close" ng-click="close()">
    <i class="fa fa-times"></i>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">My paths</h3>
  <p>This is where you manage all your paths and select the path you wish to work on...</p>
</div>
<div class="modal-body">

  <div ng-show="paths.length">

    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th># Waypoints</th>
        <th># Clients</th>
        <th>Mode</th>
        <th>Distance</th>
        <th>Time</th>
      </tr>

      <tr class="animate"
        ng-repeat="path in paths"
        ng-class="{ success: selectedPathId === path.id }"
        ng-click="setSelectedPathId(path.id)">
        <td>
          {{ path.name }}
          <div class="pull-right">
            <button class="btn btn-xs btn-danger" ng-click="delete(path)">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </td>
        <td>{{ path.waypoints.length }}</td>
        <td>{{ path.clients.length }}</td>
        <td><i class="fa" ng-class="'fa-'+path.mode"></i></td>
        <td>{{ path.distance }}</td>
        <td>{{ path.time }}</td>
      </tr>

    </table>

  </div>
  <div ng-hide="paths.length">
    <i>No paths... please click on the button below to create a new path.</i>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="close()">
    <i class="fa fa-times"></i> Close
  </button>
  <button class="btn btn-primary" ng-click="create()">
    <i class="glyphicon glyphicon-share-alt"></i> Create new
  </button>
  <button class="btn btn-success" ng-class="{disabled: !selectedPathId }" ng-click="load(selectedPathId)">
    <i class="glyphicon glyphicon-share-alt"></i> Load selected
  </button>
</div>
