/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require angular-ui-select/dist/select
 *= require perfect-scrollbar/min/perfect-scrollbar.min
 *= require_self
 */



body{
  background: image-url('bg.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.logo {
  padding: 70px 25px 70px 25px;
  display: inline-block;
  background-color: #FFF;
  border-radius: 115px;
  border: #E7E7E7;
}

.short-description {
    height: 100px !important;
}

.short-input {
    width: 200px !important;
}

.scrollable {
  height:300px; position: relative; overflow: hidden;
}
