/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require perfect-scrollbar/min/perfect-scrollbar.min
 *= require bootstrap-datepicker/css/datepicker3
 *= require_self
 */


.cover-img {
  background: image-url('bg.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.logo {
  padding: 70px 25px;
  display: inline-block;
  background-color: #fff;
  border-radius: 115px;
  border: #e7e7e7;

}
.scrollable {
  height: 300px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;

}
.list-group-item-text {
  address {
    font-size: 8px;
    margin-bottom: 0;
  }

}
.abs-flashes {
  position: absolute;
  width: 500px;
  top: 75px;
  left: 50%;
  margin-left: -250px;
  z-index: 1030;
}
html,
body {
  height: 100%;

}
#map {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  overflow: none;

}
#path {
  z-index:1030;
  position:fixed;
  height:51px;
  top:0px;
  left:90px;
  width:503px;

  padding:8px 20px 8px 20px;
  background-color:#f8f8f8;
  border:1px solid #e7e7e7;
  border-top:none;

}
#path-details {
  z-index:1030;
  position: fixed;
  top:51px;
  left:90px;
  width:503px;
  //padding:5px;

  background-color:rgba(248, 248, 248, 0.8);
  border:1px solid #e7e7e7;
  border-top:none;
}

.fa-driving:before {
  content: "\f1b9";
}
.fa-bicycling:before {
  content:"\f206";
}
.fa-transit:before {
  content: "\f207";
}
.fa-walking:before {
  content: "\f183";
}

@media print {
    body > * {display: none;}
    body > #directionsModal {display: block;}
    #directionsModal, #directionsModal > div {position: static !important;}
}
